.flex-container {
    display: flex;
}

.flex-item {
    margin: 5px;
}

.example-spacer {
    flex: 1 1 auto;
}

a.link.active {
    color: blue;
}

a.link {
    text-decoration: none;
    color: black;
}