 .example-sidenav {
     padding: 20px;
 }

 .flex-container {
     display: flex;
 }

 .flex-item {
     margin: 5px;
 }

 .example-spacer {
     flex: 1 1 auto;
 }

 a.link.active {
     color: blue;
 }

 a.link {
     text-decoration: none;
     color: black;
 }

 .code::before {
     content: '@';
 }

 .mdc-list-item--with-leading-icon .mdc-list-item__start {
     margin-left: 5px;
     margin-right: 5px;
 }